td {
    width: 33%;
}

#tableheader {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#left button {
    position: relative;
    right: 25%;
}

#right div {
    position: relative;
    left: 20%;
}

#togglebar div {
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
}

#header {
    background-color: #F0F0F0;
}

#togglebar {
    background-color: #BC8BDA;
    font-size: 1.2em;
    padding: 10px;
}