td {
    width: 33%;
}

table {
    width: 100%;
}

#left button {
    position: relative;
    right: 25%;
}

#right div {
    position: relative;
    left: 20%;
}

#togglebar div {
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
}

#header {
    background-color: #F0F0F0;
}

#togglebar {
    background-color: #BC8BDA;
    font-size: 1.2em;
    padding: 10px;
}